html {
    background-color: rgb(65, 61, 61);
}

h1{
    color:white;
    font-family: 'Nerko One', cursive;
    text-align: center;
}
h2{
    color:white;
    font-family: 'Nerko One', cursive;
    text-align: center;
}
h3{
    color:white;
    font-family: 'Nerko One', cursive;
    text-align: center;
}